<div class="container">
  <div (click)="changeVisibilityOfTasks(person)" id="personDetails">
    <h2 [ngStyle]="{color: c}">Name: {{person.name}}</h2>
    <h2>Age: {{person.age}}</h2>
    <h2>Undone tasks: {{showNumberOfUnfinishedTasks(person)}}</h2>
  </div>
      
  <div *ngIf="person.tasksVisibility" id="personTasks">
    <app-task *ngFor="let t of person.tasks" [task]="t"></app-task>
  </div>
</div>
<div class="addTask">
  <button class="b1" (click)="openAddTask(person.id)" type="button">Add task</button>
</div>
