h2{
    //float: left;
    margin-left: 10px;
    margin-right: 50px;
    //width: 200px;
}
.addTask{
    display: block;
}
.container{
    display: inline-block;
}
#personDetails{
    float: left;
}
#personTasks{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.b1{
    padding: 10px;
    border: none;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}