h3{
    
    text-decoration: none;
    font-size: large;
    color: black;
}
.active{
    color: white;
    font-weight: bold;
}
.menu{
    background-color: blueviolet;
    margin: 0;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
h1{
    margin-left: 10px;
    float: left;
    width: 79%;
    
}
nav{
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-right: 15px;
}
.persons{
    margin-top: 10px;
    margin-right: 50px;
    border: 1px solid white;
    border-radius: 10px;
    width: 15%;
    float: left;
}
.addPerson{
    width: 20%;
    float: right;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.b1{
    padding: 10px;
    border: none;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}
