<!--<div class="menu">
    <h1 routerLink="/persons">List of Persons</h1>
    <div class="addPerson">
        <button class="b1" routerLink="/add-person">Add person</button>
        <button class="b1" routerLink="/posts">Open posts</button>
    </div>
</div>-->
<div class="persons">
    <nav>
        <h3 *ngFor="let p of persons" [routerLink]="['details', p.id]" routerLinkActive="active">{{p.name}}<hr></h3>
    </nav>
</div>
<router-outlet></router-outlet>