.green{
    background-color: lightgreen;
    
}
.red{
    background-color: red;
}
button{
    padding: 20px;
    margin-left: 30px;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}