<div class="menu">
    <h1 routerLink="/persons">List of Persons</h1>
    <div class="addPerson">
        <button class="b1" routerLink="/add-person">Add person</button>
        <button class="b1" routerLink="/posts">Open posts</button>
    </div>
</div>
<router-outlet></router-outlet>