
h1{
    margin-left: 10px;
    float: left;
    width: 79%;
    
}
.menu{
    background-color: blueviolet;
    margin: 0;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.addPerson{
    width: 20%;
    float: right;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.b1{
    padding: 10px;
    border: none;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}