div{
    display: block;
    margin-bottom: 15px;   
}
h1{
    margin-left: 5px;
}
.forTextInput{
    height: 35px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 200px;
    border-radius: 15px;
    border-color: white;
    padding: 5px;
}
.forLabel{
    margin-left: 5px;
}
.button{
    padding: 10px;
    border: none;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
    border-radius: 10px;
    width: 100px;
}
