<h1>Add new task for {{person.name}}:</h1>
<form [formGroup]="taskCreationForm" (ngSubmit)="submitForm()">
    <div>
        <input class="forTextInput" type="text" id="name" formControlName="titleControl" placeholder="Title">
        <span *ngIf="taskCreationForm.dirty && taskCreationForm.get('titleControl')?.errors">*Required</span>
    </div>
    <div>
        <label class="forLabel">Is this task done?</label>
        <label><input type="radio" value="true" formControlName="finishControl">Yes</label>
        <label><input type="radio" value="false" formControlName="finishControl">No</label>
    </div>
    <div>
        <input type="submit" value="Submit" class="button" [disabled]="taskCreationForm.invalid"/>
    </div>
</form>