<h1>Add new person:</h1>
<form [formGroup]="personCreationForm" (ngSubmit)="submitForm()">
    <div>
        <input type="text" id="name" formControlName="nameControl" placeholder="Name">
        <span *ngIf="personCreationForm.dirty && personCreationForm.get('nameControl')?.errors">*Required</span>
    </div>
    <div>
        <input type="text" id="age" formControlName="ageControl" placeholder="Age">
        <span *ngIf="personCreationForm.dirty && personCreationForm.get('ageControl')?.errors">*Required</span>
    </div>
    <div>
        <input type="submit" value="Submit" class="button" [disabled]="personCreationForm.invalid"/>
    </div>
</form>
